<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.aueb.softeng.project1801.view">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".User_login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Employee_login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Owner_login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"
             />
    </application>

</manifest>